.missionItem {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  padding: 5px;
  margin-bottom: 10px;
}
.rewardCard {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 8px 0px;
}
.rewardCard > :not(:last-child) {
  margin-right: 10px;
}

.title {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 24px;
  width: 100%;
}

.img {
  height: 228px;
  width: 100%;
}

.video {
  height: 228px;
  width: 100%;
}

.rewardText {
  font-weight: 700;
  font-size: 14px;
}

.mediaContainer{
  position: relative;
  width: 100%;
}

.mediaAction {
  min-width: 60px;
  display: flex;
  justify-content: space-evenly;
  padding: 0px 4px;
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  border: 1px solid;
  border-color: transparent;
  font-weight: 400;
  font-size: 14px;
}

